.products-super__discount{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: #005ADE;
    padding-right: 45px;
    margin-bottom: 40px;
    margin-top: 20px;
    button{
        width: 108px;
        height: 40px;
        display: inline-flex;
        padding: 0px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 6px;
        background: #FF9017;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        &:hover{
            background-color: #de8424;
        }
        &:active{
            background-color: #b06a1e;
        }
    }

    &__right{
        padding-left: 30px;
        width: 745px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        background-color:  #237CFF;
        border-radius: 69% 31% 100% 0% / 0% 100% 0% 100% ;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        h3{
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 133.333%;
            letter-spacing: -0.2px;
            margin-bottom: 3px;
        }
        p{
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}