.banner{
    margin-top: 46px;
    margin-bottom: 30px;
    &-right{
        padding: 0px 20px;
    }
    &-row{
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #DEE2E7;
        border-radius: 8px;
        gap: 20px;
        padding: 17px 20px 10px 14px;
    }
    &-list{
        display: flex;
        flex-direction: column;
        gap: 4px;
        &-item{
            color:#505050;
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
            padding: 10px;
            width: 230px;
            &:hover{
                background-color: #E5F1FF;
                border-radius: 6px;
            }
        }
    }
    &-banner{
        position: relative;
        &__info{
            position: absolute;
            padding: 56px 0px 0px 44px;
            &-toptitle{
                color: #1C1C1C;
                font-size: 28px;
                font-weight: 400;
                line-height: normal;
            }
            &-title{
                color:  #1C1C1C;
                font-size: 32px;
                font-weight: 700;
                line-height: normal;
            }
            &-btn{
                margin-top: 17px;
                border-radius: 6px;
                border: 1px solid  #FFF;
                background-color: #FFF;
                box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
                color:  #1C1C1C;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
                padding: 0px 16px;
                height: 40px;
                &:hover{
                    background-color: #dedede;
                }
                &:active{
                    background-color: #c5c5c5;
                }
            }
        }
        &__image{
            width: 664px;
            height: 373px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-userpanel{
            background-color: #E3F0FF;
            padding: 14px 10px;
            border-radius: 6px;
            &-wrap{
                display: flex;
                align-items: center;
                gap: 8px;
            }
            &-info{
                &-text{
                    color:  #1C1C1C;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            &__buttons{
                margin-top: 13px;
                display: flex;
                gap: 7px;
                flex-direction: column;
                &-btn{
                    width: 180px;
                    height: 30px;
                    padding: 0px 10px;
                    flex-shrink: 0;
                    border-radius: 6px;
                    background-color:#0067FF;
                    color: #fff;
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        background-color: #fff;
                        color: #0067FF;
                    }
                    &:active{
                        background-color: #c5c5c5;
                    }
                }
                &-btn2{
                    width: 180px;
                    height: 30px;
                    padding: 0px 10px;
                    flex-shrink: 0;
                    border-radius: 6px;
                    background-color:#fff;
                    color: #0067FF;
                    &:hover{
                        background-color: #0067FF;
                        color: #fFF;
                    }
                    &:active{
                        background-color: #014bbb;
                    }
                }
            }
        }
        &-panel{
            width: 200px;
            height: 95px;
            padding: 16px;
           color: #FFF;
        }
    }
}
.panel-one{
    background-color: #F38332;
    padding: 16px 44px 22px 16px;
    border-radius: 6px;
}
.panel-two{
    background-color: #55BDC3;
    padding:16px 44px 22px 16px;
    border-radius: 6px;
}