.-all {
    width: 1178px;
    height: 235px;
    flex-shrink: 0;
    border: 1px solid #DEE2E7;
    display: flex;
}

.timesection {
    &-all {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0 20px 0;
    }

    &-text-calendar {
        width: 281px;
        height: 235px;
        background-color: #fff;
        padding: 20px 20px;
    }

    &-block {
        width: 45px;
        height: 50px;
        flex-shrink: 0;
        background-color: #606060;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &-calendar-block {
        display: flex;
        gap: 6px;
        padding: 18px 0;
    }

    &-text {
        color: #1C1C1C;
        font-family: sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.2px;
    }

    &-span {
        color: #8B96A5;
        font-family: sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-block-text {
        color: #FFF;
        text-align: center;
        font-family: sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &-block-span {
        color: #FFF;
        text-align: center;
        font-family: sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


}

.bg {
    &-card {
        width: 179px;
        height: 235px;
        flex-shrink: 0;
        border: 1px solid #DEE2E7;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        gap: 10px;
    }

    &-card-percentage {
        display: inline-flex;
        height: 28px;
        padding: 3px 13px 4px 13px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 29px;
        background: #FFE3E3;
        color: #EB001B;
        font-weight: 500;

    }
    &-card-all{
    display: flex;
}
}
.calendar{

    &-bg-card-all{
        display: none;
    }
    
    &-mini-block {
        display: none;
    }
}

@media screen and (max-width:360px) {
    .-all {
        display: none;
    }

    .calendar-mini-block {
        display: block;
    }

    .calendar-block-h1 {
        color: var(--dark, #1C1C1C);
        font-feature-settings: 'clig' off, 'liga' off;

        /* Title-h5 */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .calendar-block-p {
        color: var(--gray-600, #505050);
        font-feature-settings: 'clig' off, 'liga' off;

        /* Text-small */
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .calendar-mini-button {
        display: flex;
        gap: 5px;
    }

    .calendar-mini-button_buton {
        background-color: #EFF2F4;
        width: 45px;
        height: 44px;
        flex-shrink: 0;
        color: #8B96A5;
    }

    .calendar-block {
        display: flex;
        gap: 54px;
    }

    .bg-card-img img{
    width: 98px;
    height: 98px;
    }

    .calendar-bg-card-all {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    .bg-card-name {
        color: var(--dark, #1C1C1C);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;

        /* Text-small */
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .bg-card-percentage {
        display: inline-flex;
        height: 28px;
        padding: 3px 13px 4px 13px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
    }

    .bg-card {
        width: 140px;
        height: 180px;
    }
 
   
}