.CartPage{
    background: var(--gray-100, #F7FAFC);
    display: flex;


    &_Left{
        margin-right: 22px;


        &Categories{
            padding-left: 20px;
            &_Head{
                display: flex;
                width: 230px;
                height: 48px;
                padding: 12px 0px;
                justify-content: space-between;
                align-items: center;
                flex-shrink: 0;

                &_HeadTytle{
                    color: var(--dark, #1C1C1C);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: normal;                    
                }

                &_HeadIcon{
                    width:  24px;
                    height: 24px;
                    flex-shrink: 0;
                }
            }


        }

        &Categorie{
            margin-top:20px ;
            border-top: 1px solid var(--gray-300, #DEE2E7);

            &-links{
                display: flex;
                flex-direction: column;
            }

            &-link{
                display: flex;
                width: 240px;
                height: 36px;
                padding: 9px 11px 8px 0px;
                align-items: center;
                flex-shrink: 0;
                color: var(--gray-600, #505050);
                font-feature-settings: 'clig' off, 'liga' off;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;

                &.all{
                    color: var(--gray-600, #505050);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--primary, #0D6EFD);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                    background: var(--gray-100, #F7FAFC);                    
                }
            }

            &Inputs{

                &-int{
                    display: flex;
                    width: 114.5px;
                    padding: 6px 16px 6px 0px;
                    align-items: center;
                    color: var(--dark, #1C1C1C);
                    font-size: 16px;
                    font-weight: 400;
                    
                    &Check{
                        display: flex;
                        width: 34px;
                        height: 24px;
                        padding: 2px 13px 2px 1px;
                        align-items: center;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }

    &_Right{
        margin-right: 22px;
    
        &-header{
            margin-bottom: 20px;
            padding-top: 20px;

            &_top{
                width: 926px;
                height: 62px;
                flex-shrink: 0;
                border-radius: 6px;
                border: 1px solid var(--gray-300, #DEE2E7);
                background: #FFF;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                margin-bottom: 20px;
                &-text{
                    &-fr{
                        color: var(--dark, #1C1C1C);
                        font-feature-settings: 'clig' off, 'liga' off;    
                        font-size: 16px;
                        font-weight: 400;
                    }
                    &-sc{
                        color: var(--dark, #1C1C1C);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }

                &-buttons{
                    padding: 0px;
                    display: flex;
                    &_check{
                        display: inline-flex;
                        padding: 6px 16px 6px 0px;
                        align-items: center;
                        &-box{
                            width: 34px;
                            height: 24px; 
                        }

                        &-text{
                            color: var(--dark, #1C1C1C);
                            font-family: Inter;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }


                    &-select{
                        width: 172px;
                        height: 40px;
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        fill: #FFF;
                        border: 1px solid var(--gray-300, #DEE2E7);
                        border-radius: 8px;
                        padding: 10px;
                        margin-right: 5px;
                        
                        &-text{
                            color: var(--dark, #1C1C1C);
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }

                    &-btn{
                        width: 76px;
                        height: 40px;
                        display: flex;
                        flex-shrink: 0;
                        border-radius: 8px;
                        &_fr{
                            width: 38px;
                            height: 40px;
                            flex-shrink: 0;
                            background-color: #DEE2E7;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;

                            & img{
                                width: 24px;
                                height: 24px;
                                flex-shrink: 0;
                            }
                        }

                        &_sc{
                            width: 38px;
                            height: 40px;
                            flex-shrink: 0;
                            background-color: #ffffff;
                            border-radius: 8px;
                            border: 1px solid var(--gray-300, #DEE2E7);
                            border-left: none;
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                            

                            & img{
                                width: 24px;
                                height: 24px;
                                flex-shrink: 0;
                            }
                        }
                    }
                }
            }


            &_foot{
                display: flex;
                &Cat{
                    margin-right: 5px;
                    display: inline-flex;
                    padding: 6px 6px 6px 10px;
                    align-items: center;
                    gap: 9px;
                    border-radius: 5px;
                    border: 1px solid var(--primary, #0D6EFD);
                    background: var(--white, #FFF);
                    &-text{
                        color: var(--gray-600, #505050);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-size: 16px;
                        font-weight: 400;
                    }

                }

                &-btn{
                    color: var(--primary, #0D6EFD);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }

        &_product-contents{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .productCard{
                width: 30%;
                height: 405px;
                flex-shrink: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                background-color: #FFF;
                border: 1px solid var(--gray-300, #DEE2E7);
                border-radius: 6px;
                padding: 15px 20px;
                margin-left: 20px;
                margin-bottom: 20px;
                
                &-img{
                    display: flex;
                    width: 230px;
                    height: 230px;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;

                    & img{
                        padding-left: 10px;
                        width: 100%;
                        height: 100%;
                    }
                }

                &-inf{
                    width: 100%;
                    border-top:1px solid var(--gray-300, #DEE2E7) ;
                    padding-top: 17px;
                    display: flex;
                    justify-content: space-between;
                    &-cost{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        &_tytle{
                            color: var(--dark, #1C1C1C);
                            font-feature-settings: 'clig' off, 'liga' off;
                            font-size: 18px;
                            font-weight: 600;
                        }

                        &_score{
                            display: flex;
                            gap: 10px;
                            &-img{
                                width: 80px;
                                height: 15px;
                                flex-shrink: 0;
                            }

                            &-text{
                                color: var(--base-color-orange, #FF9017);
                                font-feature-settings: 'clig' off, 'liga' off;
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }

                        &-text{
                            color: var(--base-color-gray-800, #606060);
                            font-feature-settings: 'clig' off, 'liga' off;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 150%; 
                            letter-spacing: -0.2px;
                        }
                    }

                    &_ic{
                        display: flex;
                        width: 40px;
                        height: 40px;
                        padding: 8px;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        border-radius: 6px;
                        border: 1px solid var(--gray-300, #DEE2E7);
                        background: var(--white, #FFF);
                        box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
                        
                        & img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        &-foot{
            display: flex;
            justify-content: right;
            margin-bottom: 167px;
            gap: 9px;
            align-items: center2;
            &Show{
                width: 125px;
                height: 40px;
                flex-shrink: 0;
                border: 1px solid var(--gray-300, #DEE2E7);
                background-color: #FFF;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 11px;
                border-radius: 5px;

                &-text{
                    color: var(--dark, #1C1C1C);
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            &Btn{
                width: 217px;
                height: 40px;
                flex-shrink: 0;
                display: flex;
                &_button{
                    width: 44px;
                    height: 40px;
                    flex-shrink: 0;
                    background-color: #FFF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid var(--gray-300, #DEE2E7);

                    &:last-child{
                        border-bottom-right-radius:6px ;
                        border-top-right-radius:6px ;
                    }

                    &:first-child{
                        border-bottom-left-radius:6px ;
                        border-top-left-radius:6px ;
                    }

                    &:nth-child(2){
                        background-color: #EFF2F4;
                    }

                    & img{
                        width: 24px;
                        height: 24px;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}